<body onload="cancel()">
<div id="kra_sheet_form"><%= render :partial => 'form' %></div>
<div id="kra_sheet_list"><%= render :partial => "kra_sheet" %></div>
<script type="text/javascript">
function cancel()
{
document.getElementById("dr_sheet_form").style.display='none';
}

</script>
</body>