<html>
	<head></head>
		<body>
    <h1 style="color:red">KRA Form Disagreed</h1>
    <p>
        Mr/Mrs <%= @user.first_name%>,

        You KRA form disagreed by your appraiser manager <b><%= @appraiser_name %></b>
     .<br/>
    </p>
    <p>
      The KRA form filled by you for the period <i><%= @appraisal_cycle %></i> was disagreed by     <b><%= @appraiser_name %></b>, so kindly fill your form again.

    </p>
    Thank you!
    </body>
  </html>
