<html>
	<head></head>
		<body>
    <h1>Appraisal management</h1>
    <p>
      <% if @user.gender == 'M' %>
        Mr 
        <%else%>
        Mrs
        <% end %>
          <%= @user.first_name%>,
      Your account is created on appraisal portal.
     .<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.<br/>
      Your User ID is <%= @email %><br/>
      Your Password is : <%= @password %><br/>
      Please Change the Password after Login 
    </p>
    <p>Thanks for joining and have a great day!</p>
    </body>
  </html>
