<html>
	<head></head>
		<body>
    <h1>Appraisal management</h1>
    <p>
      Your account is created on aprsl portal.
     .<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
      your email is <%= @email %>
    </p>
    <p>Thanks for joining and have a great day!</p>
    </body>
  </html>
