
<% if user_signed_in? %>


  <div id="content">
  	<% render template: 'appraisal_cycles/total_performance_graph' %>
  </div>
  <div id="roles_form"></div>
  <div id="kra_attributes_form"></div>
  <div id="departments_form"></div>
<% else %>

<h1>Login to View dashboard</h1>
<% end %>
