<div class='span6 offset2'>
  <section class="widget">

    <div class="row-fluid">
      <!-- Heading start -->
        <div class='row'>
          <div class="span11 offset2">
           <h2 class="page-title">Roles<br/><small>All roles listed.</small></h2>
          </div>
        </div>
      <!-- Heading End -->

      <!-- Notification Area Start-->
        <div class="row" >
          <div class="span8 offset2">
            <% if flash[:notice] %>
              <div class="flash_notice" id='role_notice'>
                <div class="alert alert-success">
                  <%= notice %>
                  <a class="close" data-dismiss="alert">×</a> 
                </div>
              </div>
            <%end%>
          </div>
        </div>
      <!-- Notification Area End-->

      <!-- Counting Area Start-->
        <div class='row'>
          <div class='span8 offset2'>
            <section class="widget">
              <span class="badge label-success">
                <%= Role.count %>
              </span>
              <strong>
                Roles
              </strong>
            </section>
          </div>
        </div>
      <!-- Counting Area End-->

      <!-- List Start -->
        <div class='row'>
          <% if Role.count > 0 %>
             <div class='span8 offset2'>
              <strong>
                <section class="widget">
                  <table class="table table-hover">
                    <thead >
                      <tr style="border-bottom:solid 1px;">
                        <th>Roles</th>
                        <th>Created At</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @roles.each do |role| %>
                      <tr>
                        <td><%= role.name %></td>
                        <td><%= role.created_at.strftime("%B-%Y") %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </section>
               </strong>
            </div>
          <% end %>
        </div>
      <!-- List End -->
    </div>
  </section>
</div>
