
<% if @filled == 1 -%>
	$("#body-content").html("<%= escape_javascript(render(:partial => "past_appraisal_summary"))%>");
<% else -%>
	$("#body-content").html("<h3>Forms Not Properly filled</h3>");
<% end -%>